KOKORO_URL=http://127.0.0.1:8880
KOKORO_VOICE=pf_dora
MUSIC_FILE=assets/music/background.mp3

COMFYUI_URL=http://127.0.0.1:8188
COMFYUI_WORKFLOW=workflows/flux-schnell-api.json
COMFYUI_TEXT_NODE=6
COMFYUI_LATENT_NODE=5
COMFYUI_SAVE_NODE=9
